
html{
	font-family: 'Open Sans', sans-serif;
}



.header{
	font-family: 'Abril Fatface';
}


.btn-group{
	padding:10px;
}


.button {
  padding: 5px 10px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
/*  transform: translateY(4px);*/
}



#scenetext{
	font-size: 100%;
	font-weight: bold;
}


